.btn {font-family: $font-base; background: rgba(39, 37, 45, 1); color: $color; min-width: max-content; max-width: 40%; border: 0; padding: 1.1rem 1.2rem; border-radius: .2rem; cursor: pointer;
    &:hover {opacity: .7;}
}