@mixin font-face ($font-name, $font-path, $weight: 400, $style: normal) {
    @font-face {
        font-family: $font-name;
        src:  url($font-path);
        font-weight: $weight;
        font-style: $style;
    }
}